{%extends 'base.html'%}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Alteração</title>
{%endblock%}

{%block body%}
<div class="container">
    <strong style="color: orange">usuário={{current_user.username}}/ permissão={{current_user.permission_level}} </strong>
    <h2>ALTERAR CONTA</h2>

    <input type="hidden" name="id" value="{{ usuario.id }}">
    <hr>
    <div class="row">
        <div class="col">
            <form method="post" action="" class="border p-4 mt-2">
                {{form_alterarconta.csrf_token}}
<!--                <legend>alterar conta</legend>-->


                <strong>Imobiliária: </strong><span>{{ usuario.empresa }}</span><br>
                <strong>Corretor: </strong><span>{{usuario.username}}</span>

                <fieldset>
                <input type="hidden" name="id" value="{{ usuario.id }}">
<!--                    <div class="form-group">-->
                <div class="row border mt-2 p-1 meupost">
                    <div class="form-group col-md-6">
                        {{form_alterarconta.email.label(class="form-control-label")}}
                        {%if form_alterarconta.email.errors%}
                        {{form_alterarconta.email(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {%for erro in form_alterarconta.email.errors%}
                            {{erro}}
                            {%endfor%}
                        </div>
                        {%else%}
                        {{form_alterarconta.email(class="form-control")}}
                        {%endif %}
                    </div>
                    <div class="form-group col-md-3">
                        {{form_alterarconta.celular_usuario.label(class="form-control-label")}}
                        {%if form_alterarconta.celular_usuario.errors%}
                        {{form_alterarconta.celular_usuario(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {%for erro in form_alterarconta.celular_usuario.errors%}
                            {{erro}}
                            {%endfor%}
                        </div>
                        {%else%}
                        {{form_alterarconta.celular_usuario(class="form-control")}}
                        {%endif %}
                    </div>
                    <div class="form-group col-md-3">
                        {{form_alterarconta.creci.label(class="form-control-label")}}
                        {%if form_alterarconta.creci.errors%}
                        {{form_alterarconta.creci(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {%for erro in form_alterarconta.creci.errors%}
                            {{erro}}
                            {%endfor%}
                        </div>
                        {%else%}
                        {{form_alterarconta.creci(class="form-control")}}
                        {%endif %}
                    </div>
                </div>
                <div class="row border mt-2 p-1 meupost">
                    <div class="form-group col-md-6">
                        {{form_alterarconta.nova_senha.label(class="form-control-label")}}
                        {%if form_alterarconta.nova_senha.errors%}
                        {{form_alterarconta.nova_senha(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {%for erro in form_alterarconta.nova_senha.errors%}
                            {{erro}}
                            {%endfor%}
                        </div>
                        {%else%}
                        {{form_alterarconta.nova_senha(class="form-control")}}
                        {%endif %}
                    </div>
                    <div class="form-group col-md-6">
                        {{form_alterarconta.confirmacao_nova_senha.label(class="form-control-label")}}
                        {%if form_alterarconta.confirmacao_nova_senha.errors%}
                        {{form_alterarconta.confirmacao_nova_senha(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {%for erro in form_alterarconta.confirmacao_nova_senha.errors%}
                            {{erro}}
                            {%endfor%}
                        </div>
                        {%else%}
                        {{form_alterarconta.confirmacao_nova_senha(class="form-control")}}
                        {%endif %}
                    </div>
                </div>
                </fieldset>

                {{form_alterarconta.botao_submit_alterarconta(class="btn btn-primary")}}
            </form>
        </div>
    </div>
</div>
{%endblock%}
