   {%extends 'base.html'%}
    {%block body%}
        <div class="container">
        <h1>SISTEMA VENDA LOTES</h1>
                    <h1>explicar regime casamento</h1>
            <br>
        <h4>Este programa foi desenvolvido para otimizar as vendas de terrenos de um loteamento.</h4>
        <h5>Tem o objetivo de atender os interesses do LOTEADOR/INCORPORADOR.  </h5>
            <br>
        <p>Permite que VÁRIAS IMOBILIÁRIAS se cadastrem e sob a autorização do SUPERVISOR do sistema
        passem a fazer parte do corpo de vendas desse empreendimento.</p>
        <p>Os usuários são divididos em 2 grupos VENDEDORES E SUPERVISORES.</p>
<!--   <h6>Para facilitar os testes deixamos um usuário VENDEDOR já cadastrado e aprovado corretor@gmail.com senha 123123</h6>-->
<!--            <h6>e também um usuário SUPERVISOR supervisor@gmail.com senha 123123</h6>-->
<!--            -->
               <h6>Para facilitar os testes deixamos um usuário SUPERVISOR supervisor@gmail.com senha 123123</h6>
            <h6>e também um usuário VENDEDOR já cadastrado e aprovado corretor@gmail.com senha 123123</h6>
            <br>
            <h4>VENDEDORES</h4>
            <p>Os VENDEDORES devem fazer o pré-cadastro na área de login e aguardar sua
            liberação feita pelos SUPERVISORES, para então começar as vendas.
            Após a liberação, poderão ver os lotes disponíveis para venda, os lotes que ele vendeu e alterar o seu
            próprio perfil.</p>
            <p>O VENDEDOR seleciona o lote a ser reservado para venda, seleciona a condição do preço e faz o
            cadastro do comprador (nessa página, o nome do comprador e CPF/CNPJ são
            suficientes para a reserva do lote, pois no ato da venda ném sempre o
            comprador tem todos os dados em mãos, e posteriormente o VENDEDOR poderá completar o cadastro).
                Ao reservar o lote um marcador mostra o tempo (dias) que aquele lote foi reservado, para
                controle dos SUPERVISORES.</p>
            <p>Após completar o cadastro o VENDEDOR solicita a aprovação da venda por parte dos SUPERVISORES,
                após a aprovação o VENDEDOR não pode mais fazer alterações naquele lote.</p>
       <br>
            <h4>SUPERVISORES</h4>
            <p>Os SUPERVISORES tem todos o poderes dos VENDEDORES e mais, vê todos os lotes
            disponíveis, em cadastramento, vendidos e cancelados, quem vendeu e através do filtro
            'Não disponíveis' eles conseguem ver em ordem de data todos os lotes já manipulados
            por alguém e em qual situação se encontra facilitando assim eventuais decisões.</p>
            <p>Aprovar e desaprovar vendedores, classificar um usuário como SUPERVISOR e alterar cadastros de usuários
                (não sei se isso é muito apropriado, mas funciona assim).</p>
            <p>Aprovar e desaprovar vendas. Com excessão do CPF/CNPJ (que o sistema obriga a
            inclusão e avalia a consistência), cabe ao SUPERVISOR verificar os dados
            do cadastro da venda, pois o sistema não obriga a inclusão de dados
                complementares do cadastro, isso é
            proposital, pois uma trava em determinado momento pode impedir uma venda ou outra
            ação desejada.</p>
 <br>
            <h4>O QUE FALTA NO SISTEMA</h4>
            <p>O sistema conta com a exportação em txt dos dados da venda, para facilitar
                a inclusão no meu sistema local, isso pode ser útil se adequado a necessidade do
                cliente, podendo ser um exel ou outra forma de exportação de dados</p>
                <p>Impedir que 2 usuários acessem o mesmo lote para alterações ao mesmo tempo</p>

        </div>
    {%endblock%}