<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imprimir Lote</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!--    <div class="container mt-5">-->
     <div class="container mt-5">
          <br>
         <h3>TERMO DE CONSENTIMENTO DE ACORDO COM A LEI GERAL DE PROTEÇÃO DE DADOS – LGPD</h3>
          <br>
         <h3>{{ lote.lote }} - Quadra Residencial</h3>
          <br>
         <p>Estamos empenhados em salvaguardar sua privacidade ao iniciarmos a relação com nossa empresa. O presente termo tem a finalidade de deixar claro a política de coleta e compartilhamento de dados, informando sobre os dados coletados e sua utilização no fornecimento de dados pessoais e profissionais durante o processo de venda e compra de imóvel.</p>
         <p>Neste ato fica EXPRESSO o CONSENTIMENTO para coleta e armazenamento de todos os dados pessoais, profissionais e bancários, bem como, tratamento e armazenamento de dados e imagens dos abaixo assinados.</p>
         <p>Dados que serão coletados quando do preenchimento da ficha cadastral de venda e serão utilizados quando necessário à prestação de nossos serviços de venda de imóveis na confecção de contratos e/ou escrituras públicas, e ainda a consequente cobrança de prestações e outros serviços necessários para o bom cumprimento do contrato ao qual este termo se vincula.</p>
         <p>Compartilharemos os dados com terceiros para cumprir exigências legais, regulatórias, fiscais ou ainda para assegurar a cobrança e recebimento de receitas ou prestações. Estarão envolvidos, compartilhamento das informações com bancos, empresas de cobrança, receita federal, prefeitura do local do imóvel e demais instituições envolvidas no processo de venda, compra e recebimento de receitas oriundas do negócio jurídico ao qual este se vincula.</p>
         <p>Os dados que serão coletados estarão armazenados e processados em um servidor de escolha de nossa empresa, bem como em nosso servidor local e em documentos e contratos fisicamente armazenados.</p>
         <p>Todos os dados ficarão armazenados até que se cumpra a finalidade do contrato ao qual este termo se vincula, ou seja as obrigações da compra e venda de bens imóveis e suas obrigações acessórias sejam elas legais, tributarias e/ou judiciais.</p>
         <br><br><br>
         <p>Concordo com todos os termos acima,</p>
         <br>
         <p>Assinatura:____________________________________________</p>
         <p>Nome:_________________________________________________</p>
         <p>CPF:___________________________________________________</p>



         <button onclick="window.print()" class="btn btn-primary">Imprimir</button>
     </div>
</body>
</html>
