   {%extends 'base.html'%}
    {%block body%}
        <div class="container">
            <h1>FAÇA SEU LOGIN</h1>
            <hr>
            <div class="row">
                <div class="col">
                        <form method="post" action="" class="border p-4 mt-2">
                            {{form_login.hidden_tag()}}
                             <!-- layout ->utilities-> Margin and padding                          -->
                            <fieldset>
                            <legend>login</legend>
                                <div class="form-group">
                                   {{form_login.email.label(class="form-control-label")}}
                                   {%if form_login.email.errors%}
                                        {{form_login.email(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {%for erro in form_login.email.errors%}
                                                {{erro}}
                                            {%endfor%}
                                        </div>
                                   {%else%}
                                       {{form_login.email(class="form-control")}}
                                   {%endif %}
                                </div>
                                <div class="form-group">
                                   {{form_login.senha.label(class="form-control-label")}}
                                   {%if form_login.senha.errors%}
                                        {{form_login.senha(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {%for erro in form_login.senha.errors%}
                                                {{erro}}
                                            {%endfor%}
                                        </div>
                                   {%else%}
                                       {{form_login.senha(class="form-control")}}
                                   {%endif %}
                                </div>
                                <div class="form-group">

                                   {{form_login.lembrar_dados.label(class="form-check-label")}}
                                   {{form_login.lembrar_dados(class="form-check-input")}}
                                </div>

                           </fieldset>
                           {{form_login.botao_submit_login(class="btn btn-primary")}}
                       </form>
                </div>

                <div class="col">
 <form method="post" action="" class="border p-4 mt-2">
    {{ form_cnpj_novo.hidden_tag() }}
    <legend>Para criar sua conta digite seu CNPJ 61701280000150</legend>
    <fieldset>
        <div class="form-group">
            {{ form_cnpj_novo.cnpj.label(class="form-control-label") }}
            {% if form_cnpj_novo.cnpj.errors %}
                {{ form_cnpj_novo.cnpj(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for erro in form_cnpj_novo.cnpj.errors %}
                        {{ erro }}
                    {% endfor %}
                </div>
            {% else %}
                {{ form_cnpj_novo.cnpj(class="form-control") }}
            {% endif %}
        </div>
    </fieldset>
    {{ form_cnpj_novo.botao_submit_cnpj(class="btn btn-primary") }}
</form>

                </div>
            </div>
        </div>
    {%endblock%}